[main]
enabled=1
debug=1
readaloud=0
trygoogle=0
head=sudo wget -q -U Mozilla
tail=.mp3
end=Thats all for now.  Have a nice day.
light=0
lightdelay=1
music=1
musicfldr=/home/pi/Music

[greeting]
enabled=0
name=Alex

[birthday]
enabled=0

[weather_yahoo]
enabled=0
location=2459115
metric=1
# Change units to Imperial by changing metric=0
wind=1
# wind is available only with metric
wind_chill=1
# default set from November - March

[btc]
enabled=0

[stocks]
enabled=0
tickers=fb,twtr

[news]
enabled=0
